.container {
    color: #704214;
}

.progress {
    background-color: rgb(249, 243, 243);
}

.progress-bar {
    background-color: rgb(206, 157, 127);
    font-weight: bold;
}

.about-me-con {
    margin-top: 4vh;
    min-height: 90vh;
}

.experiences-section {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.about-me-header {
    /* border-bottom: 2px solid #704214; */
    height: 50px;

}

.position-text {
    height: 35px;
    width: auto;
}

.about-me-content {
    padding-left: 1rem;
    /* left: 52; */
}

.stack-con {
    gap: 1rem;
}

.stack-card {
    position: relative;
    overflow: hidden;
    background-color: rgb(206, 157, 127);
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.2s;
    opacity: .65;
}

.stack-card:hover {
    transform: scale(1.05);
    opacity: 1;
}

.stack-card:hover>img {
    -webkit-animation: pulse .4s both;
    animation: pulse .4s both;

}

.unity-logo {
    width: 100%;
    height: 100%;
    margin-left: -0.25rem;
    padding: 2px;
    object-fit: contain;
}

.react-logo {
    width: 100%;
    height: 100%;
    padding: 1px;
    object-fit: contain;
}

.node-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mysql-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bs-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: color-dodge;
}

.cs-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.js-logo {
    width: 100%;
    height: 100%;
    padding: 2.5px;
    object-fit: contain;
}

.html-logo {
    width: 100%;
    height: 100%;
    padding: 2.5px;
    object-fit: contain;
}

.css-logo {
    width: 100%;
    height: 100%;
    padding: 2.5px;
    object-fit: contain;
}

.stack-wrap {
    margin-top: 1rem;
}

@media only screen and (max-width: 480px) {

    .experiences-section {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    /* Your styles for extra small screens here */
    .stack-card {
        position: relative;
        overflow: hidden;
        background-color: rgb(206, 157, 127);
        width: 4rem;
        height: 4rem;
        border-radius: 15px;
        padding: 15px;
        transition: all 0.2s;
        opacity: .65;
    }

    .stack-card:hover {
        transform: scale(1.05);
        opacity: 1;
    }

    .unity-logo {
        width: 100%;
        height: 100%;
        margin-left: -0.15rem;
        object-fit: contain;
    }

    .stack-wrap {
        margin-top: 0rem;
    }

}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.15)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.2)
    }
}