.homepage {
    margin-top: 2vh;
    min-height: 95vh;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.hello {
    background-color: rgb(206, 157, 127);
    color: #ebe3ce;
}

.intro {
    padding-left: 2rem;
}

.text-container {
    color: rgb(143, 95, 65);
}

.text-container h1 {
    vertical-align: middle;
}

.row>.row {
    margin-left: 0;
    margin-right: 0;
}

/* home-page.style.css */