.navbar .navbar-brand {
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #ebe3ce;
}

.nav-item .nav-link {
    font-weight: bold;
}

.navbar-custom {
    background-color: rgb(143, 95, 65);
}